* {
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

h1, p{
    margin-block-start: 0;
    text-align: center;
}

body {
    margin: 0;
    padding: 0;

    display: flex;
    height: 100svh;

    background-image: url(../images/bg-mobile.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-color: $purple;

    font-family: $poppins;
    color: white;
}

main {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 2rem 0;
    height: 100%;
}

.logo {
    width: clamp(8rem, 20%, 10rem );
    align-self: flex-start;
    margin-inline-start: 8%;
    margin-block-end: 4rem;
    cursor: pointer;
    transition: opacity 200ms ease-in-out;

    &:hover {
        opacity: .8;
    }
}

.container {
    display: flex;
    flex-direction: column;
    width: 80%;
    text-align: left;
    

    .illustration {
        margin-inline: auto;
        margin-block-end: 4rem;
        width: 100%;
        max-width: 31.25rem;
    }
}

h1{
    font-weight: $bold;
    font-size: 1.5rem;
    line-height: 1.3;
}

p {
    font-family: $openSans;
    font-weight: $regular;
    font-size: 1rem;
    line-height: 1.5;

    margin-block-end: 1.5rem;
}

button {
    display: block;
    margin: 0 auto;
    margin-block-end: 3.75rem;
    padding: 0.75rem 4.75rem;

    font-family: inherit;
    font-size: 0.75rem;
    color: $purple;

    border: none;
    border-radius: 1.5rem;
    box-shadow: $buttonShadow;

    cursor: pointer;
    transition: background-color 200ms ease-in-out;

    &:hover, &:focus {
        background-color: $magenta;
        color: white;
    }
}



.socials {
    display: flex;
    flex-direction: row;
    align-items: center;

    a {
        display: flex;
        align-items: center;
        justify-content: center;

        text-decoration: none;
        width: clamp(1.875rem, 3vw, 2.5rem);
        height: clamp(1.875rem, 3vw, 2.5rem);

        border: 1px solid white;
        border-radius: 50%;

        margin-inline: 0.25rem;

        cursor: pointer;
        
        i {
            font-size: 1rem;
            color: white;
        }

        &:hover {
            border-color: $magenta;

            i {
                color: $magenta;
            }
        }
    }
}

    


@media (min-width:50rem) {
    body {
        background-size: cover;
    }
}


@media (min-width: 62.5rem) {

    body {
        background-image: url(../images/bg-desktop.svg);
        background-size: cover;
    }

    main {
        justify-content: center;
    }

    .logo {
        max-width: 15%;
        margin-inline-start: 5.5%;
        margin-block-start: 3.5rem;
    }

    main {
        max-width: 80rem;
        margin: 0 auto;
    }

    .container {
        flex-direction: row;
        align-items: flex-start;
        justify-content: space-between;
        width: 89%;


        .illustration {
            margin: 0;
            width: 55%;
            max-width: 43.75rem;
        }

        .text {
            width: 40%;
            margin-block-start: 2rem;

            h1, p {
                text-align: left;
            }
            h1 {
                font-size: 2.5rem;
            }
            p {
                font-size: 1rem;
            }
            button {
                margin: 0;
                font-size: 1rem;
            }
        }
    }

    .socials {
        align-self: flex-end;
        margin-inline-end: 4%;
        margin-block-start: 4rem;

        a {
            margin-inline: 0.5rem;
        }
    }
}