* {
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

h1, p{
    margin-block-start: 0;
    text-align: center;
}

body {
    display: flex;
    // align-items: center;
    min-height: 100lvh;
    overflow: hidden;

    background-image: url(../images/bg-mobile.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-color: $purple;

    font-family: $poppins;
    color: white;
}

main {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.logo {
    width: 40%;
    align-self: flex-start;
    margin-inline-start: 8%;
    margin-block-start: 1.5rem;
    margin-block-end: 3.5rem;
    cursor: pointer;

    &:hover {
        opacity: .8;
    }
}

.container {
    width: 84%;
    text-align: left;

    

    .illustration {
        margin-block-end: 3rem;
    }
}

h1{
    font-weight: $bold;
    font-size: 1.5rem;
}

p {
    font-family: $openSans;
    font-weight: $regular;
    font-size: 1rem;
    line-height: 1.5;

    margin-block-end: 1.5rem;
}

button {
    display: block;
    margin: 0 auto;
    padding: 0.875rem 4.75rem;

    font-family: inherit;
    font-size: 12px;
    color: $purple;

    border: none;
    border-radius: 24px;
    box-shadow: 2px 2px 5px hsla(0, 0%, 0%, 0.411);

    cursor: pointer;
    transition: background-color 200ms ease-in-out;

    &:hover {
        background-color: $magenta;
        color: white;
    }
}


@media (min-width: 900px) {

    body {
        background-image: url(../images/bg-desktop.svg);
        background-size: 100%;
    }

    .logo {
        max-width: 15%;
        margin-inline-start: 5.5%;
        margin-block-start: 3.5rem;
    }


    .container {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        width: 89%;

        .illustration {
            width: 55%;
        }

        .text {
            width: 40%;
            margin-block-start: 3rem;

            h1, p {
                text-align: left;
            }
            h1 {
                font-size: 40px;
            }
            p {
                font-size: 17.5px;
            }
            button {
                margin: 0;
            }
        }
    }
}