$purple: hsl(257, 40%, 49%);
$magenta: hsl(300, 69%, 71%);
$regular: 400;
$bold: 600;

$poppins: "Poppins", sans-serif;
$openSans: "Open Sans", sans-serif;

$buttonShadow: 2px 2px 5px hsla(0, 0%, 0%, 0.411);